@use './base' as *;

body {
  font-size: $fs-16;
  font-weight: $fw-regular;
  font-family: $ff-base;
  color: $clr-primary-300;
  background-color: $clr-neutral-100;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: $ff-accent, serif;
}

.header {
  display: flex;
  padding: 2rem 1rem;
  background-color: $clr-primary-400;

  &-action {
    margin-left: auto;
  }

  @include media(x-large) {
    padding-block: 3.5rem;
  }
}

.hero {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
  overflow-x: clip;
  color: $clr-neutral-100;
  padding: 2rem 1rem;
  background-color: $clr-primary-400;

  &-header {
    grid-column: 1 / 8;
    font-size: $fs-50;
  }

  &-action {
    grid-column: 3 / 7;
    margin: 3rem 0;
    text-align: center;
  }

  &::after {
    content: "";
    display: block;
    background: $clr-primary-400;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -4rem;
    transform: translateX(-50%);
    border-radius: 50% / 0 0 100% 100%;
    width: 150%;
    height: 5rem;
    z-index: 1;
  }

  &-image {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 85%;
    z-index: 4;
  }
}

.features {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: clip;
}

.feature-list {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding-inline-start: 0;
  padding-top: 14rem;
  margin-left: 0;
  list-style: none;
  color: $clr-primary-400;
  font-family: $ff-base, sans-serif;
  font-size: $fs-16;
  font-weight: lighter;
}

.feature-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 2rem;

  &:first-child {
    counter-reset: feature-counter;
  }

  &::before {
    counter-increment: feature-counter;
    content: counter(feature-counter);
    border-radius: 50%;
    border: 1px solid $clr-primary-400;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: $ff-accent, serif;
    font-size: $fs-20;
  }
}

.feature-title {
  padding-top: 1rem;
  font-family: $ff-accent, serif;
  font-size: $fs-28;
}

.feature-description {
  padding-top: 1rem;
  line-height: 1.4rem;
}
